
.h101{ 
    color:rgb(243, 152, 14); 
    font-size: 3cm; 
    font-weight: bold;
    border: transparent;
    text-shadow: 15px 15px  black;
    font-family:Apple Chancery, cursive;
} 

p{
	border-radius: 8px;
	width: 500px;
	padding: 5px;
	font-weight: bold;
	border: 0.5px solid black;
}

p > button {
    float: right;
	background-color: transparent;
	border: transparent;
	
}

input {
	border-radius: 8px;
	width: 500px;
	padding: 5px;
	background-color:lightgrey;
}

#cd01{
    border: transparent;
}




 