body {
	background-color: #f8f9fa;
	font-family: 'Arial', sans-serif;
}

.h101 {
	color: #ff5733;
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 2px 2px #ccc;
	font-family: 'Helvetica', sans-serif;
}

.card {
	border-radius: 15px;
}

#inputfield {
	border-radius: 15px 0 0 15px;
}

#addtodo {
	border-radius: 0 15px 15px 0;
}

#clearButton {
	display: block;
	justify-content: center;
	text-align: center;
	margin-top: 10px;

}

#todocontainer p {
	border-radius: 15px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#todocontainer p button {
	border: none;
	background: none;
	color: #dc3545;
	font-size: 1.2rem;
}

#cd01 {
	border: none;
}
